html {
    scroll-behavior: smooth;
}

body {
  background-image: url(../img/bg_img.jpg);
  background-size: auto;
}

/* Background image while waiting for a search*/


form {
    width: 75%;
}

table {
  width:  100%;
}



.table-responsive {
  display: block;
  width: 100%;
  max-height:600px;
}

h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}